Repository pixelass/react-stickyroll: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn dlx markdown-toc -i, yarn dlx sort-package-json

docs: adjust logo
  .storybook/theme.ts
  README.md
Due: eslint --fix, prettier --write, yarn dlx markdown-toc -i

test: add test for pages and factor
  src/__tests__/stickyroll.cy.tsx
Due: eslint --fix, prettier --write

chore: add release script
  package.json
Due: prettier --write, yarn dlx sort-package-json

docs: add example with r3f
  .eslintrc.json
  .storybook/main.js
  package.json
  stories/examples.stories.tsx
  stories/r3f.tsx
  stories/stickyroll.stories.tsx
  stories/use-stickyroll.stories.tsx
  yarn.lock
Due: eslint --fix, prettier --write, yarn dlx sort-package-json

docs: add types for three
  package.json
  yarn.lock
Due: prettier --write, yarn dlx sort-package-json

chore(release): 2.0.0
  CHANGELOG.md
Due: prettier --write

chore: adjust publish config
  package.json
Due: prettier --write, yarn dlx sort-package-json

docs: adjust readme
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

docs: adjust example
  src/use-stickyroll.ts
Due: eslint --fix, prettier --write

refactor: add helpers for duplications
  src/__tests__/stickyroll.cy.tsx
  src/constants.ts
  src/use-stickyroll.ts
Due: eslint --fix, prettier --write

refactor: add helpers for duplications (#421)
  src/__tests__/stickyroll.cy.tsx
  src/constants.ts
  src/use-stickyroll.ts
Due: eslint --fix, prettier --write

docs: adjust r3f example
  stories/r3f.tsx
Due: eslint --fix, prettier --write

docs: adjust r3f example
  stories/examples.stories.tsx
  stories/r3f.tsx
Due: eslint --fix, prettier --write

docs: update examples
  stories/examples.stories.tsx
  stories/r3f.tsx
  stories/stickyroll.stories.tsx
  stories/use-stickyroll.stories.tsx
Due: eslint --fix, prettier --write

docs: update readme
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

chore: adjust build
  package.json
  tsconfig.build.json
  yarn.lock
Due: prettier --write, yarn dlx sort-package-json

chore(release): 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore: adjust exports
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore(release): 2.0.2
  CHANGELOG.md
  package.json
Due: prettier --write, yarn dlx sort-package-json

chore: adjust exports and build
  package.json
  rollup.config.mjs
Due: prettier --write, yarn dlx sort-package-json

chore(release): 2.0.3
  CHANGELOG.md
  package.json
Due: prettier --write, yarn dlx sort-package-json

docs: remove outdated classname
  README.md
Due: prettier --write, yarn dlx markdown-toc -i

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (((any of: *.{js,ts,tsx}) or (any of: ./*.json)) or (any of: *.md)) or (any of: README.md)
  yarn dlx markdown-toc -i: any of: README.md
  yarn dlx sort-package-json: any of: package.json
